[Desktop Entry]
Name=bluelakelight
X-KDE-PluginInfo-Author=yeyushengfan258&&happyegg
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=happyegg.chen@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=bluelakelight
X-KDE-PluginInfo-Version=1.0
