[Desktop Entry]
Name=bluelake
X-KDE-PluginInfo-Name=bluelake
X-KDE-PluginInfo-Author=yeyushengfan258&&happyegg
X-KDE-PluginInfo-Email=happyegg.chen@hotmail.com
X-KDE-PluginInfo-License=GPLv3
